main{
   padding: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Main Content */

main .main-content{
    display: flex;
    flex-direction: column;

}

main .main-content h2{
    margin-bottom: 6%;
    font-size: 2.2em;
}
main .main-content .text{
    margin-bottom: 10%;
}

main .main-content .text p{
    width: 75%;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6;
}

/*       CARDS         */

main .techs .cards-container{
    display: flex;
    align-items: center;

}

main .techs .cards-container .card{
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
    margin-right: 0.9em;
    margin-left: 0.9em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .techs .cards-container .card:hover{
    background-color: #e8e8e8;
    transition: box-shadow 0.25s ease-in-out;
    box-shadow: 0px 0px 8px #2ff891;
}

main .techs .cards-container .card img{
    width: 80%;
}

main figure img{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-bottom: 6%;
    border: 1px #2ff891 solid;
    transition: 0.2s ease-in-out;
}
main figure img:hover{
    box-shadow: 0px 0px 6px #2ff891;
}

main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*       PORTIFOLIO         */

main .portifolio .port-container{
    display: flex;
    align-items: center;

}

main .portifolio .port-container .port{
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
    margin-right: 0.9em;
    margin-left: 0.9em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

}

main .portifolio .port-container .port:hover{
    background-color: #e8e8e8;
    transition: box-shadow 0.25s ease-in-out;
    box-shadow: 0px 0px 8px #2ff891;
}

main .portifolio .port-container .port img{
    width: 80%;
}

main figure img{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-bottom: 6%;
    border: 1px #2ff891 solid;
    transition: 0.2s ease-in-out;
}
main figure img:hover{
    box-shadow: 0px 0px 6px #2ff891;
}

main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main aside .portifolio h2{
    margin-top: 6%;
}

